body {
    background: #FFFDE4;
}

aside {
    width: 400px;
    height: 100vh;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_part {
    display: flex;
    padding-top: 90px;
    padding-left: 50px;
}

aside a {
    text-decoration: none;
}

aside h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

aside p {
    font-size: 16px;
}

aside ul {
  list-style-type: none;
}

.user_profile_box, .new_chat_box {
    width: 100%;
    float: left;
}

.new_chat_box {
    margin-left: 80px;
}

.user_profile_box {
    height: 80px;
    display: flex;
    align-items: center;
    width: 300px;
    padding: 8px 24px;
}

.user_profile_box a, .chat_box a {
    color: #2B0E66;
    font-size: 18px;
}

.user_profile_box a:hover, .chat_box a:hover {
    color: #7776f0;
}

.user_profile_photo, .chat_box img {
    object-fit: cover;
    margin-right: 10px;
}

.user_profile_box .user_profile_photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.current_chats_box .user_profile_photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.user_profile_image .user_profile_photo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.current_chats_box {
    width: 350px;
    float: left;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-height: 300px;
    word-wrap: break-word;
    background-clip: border-box;
    overflow-y: auto;
    margin-bottom: 50px;
}

.user_profile_box, .chat_box {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dee2e6;
    align-items: center;

}

.chat_box {
    width: 250px;
    padding: 6px 20px;
}


.inputbox {
    display: flex;
}

.inputbox input {
    border: 2px solid #5E5DF0;
    padding: 0 10px;
    margin-left: 10px;
    width: 50%;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    height: calc(1.5em + 0.75rem + 2px);
    position: relative;
    top: -5px;
}

.inputbox input:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
    border: 2px solid #5E5DF0;
}

.new_chat_box button {
    margin-left: 120px;
    border-radius: 5px;
    font-size: 15px;
    background: #FFFFFF;
    color: #5E5DF0;
    border: 2px solid #5E5DF0;
    width: 100px;
    height: 30px;
    transition: color .5s ease, background .6s ease;
}

.new_chat_box button:hover {
    background: #5E5DF0;
    color: #FFFFFF;
}

.user_photo img {
    display: flex;
    width: 450px;
    height: 600px;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
    object-fit: cover;
}

.logo {
    margin-top: 5px;
}

.user_info {
    flex-direction: column;
    width: 450px;
    height: 600px;
    border-radius: 0 25px 25px 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #000000;
    padding: 20px 26px;
    display: flex;
}

.user_info p {
    color: #2B0E66;
}

.user_info h1 {
    margin-top: 20px;
    color: #2B0E66;
    font-size: 30px;
}

.rating_buttons {
    position: absolute;
    top: 600px;
    left: 42.25%;
    transform: translateX(-50%);
}

.rating_buttons img {
    width: 80%;
    height: 80%;
}

.like_button button, .dislike_button button {
    width: 70px;
    height: 70px;
    background-color: #7776f050;
    border: 1px solid #2B0E6650;
    border-radius: 50px;
    align-items: center;
    justify-content: center;

}

.like_button {
    margin-right: 80px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}