{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вхід</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'BalduApp/css/authorisation.css' %}">
</head>
<body class="login_body">
    <div class="logo_container">
        {% include 'BalduApp/start_logo.html' %}
    </div>
    <div class="card_login">
        <div class="centered">
            <h1>Вхід</h1>
        </div>

        <form method="post">
            {% csrf_token %}
            <p>{{ error }}</p>
            <div class="inputbox">
                <span>Логін</span>
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <div class="inputbox">
                <span>Пароль</span>
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <span class="dha-right"><a href="{% url 'register' %}">Не маєте аккаунту?</a></span><br>

            
            <div class="centered">
                <button class="submit_button" type="submit">Увійти</button>
            </div>

        </form>
    </div>

</body>
</html>
