{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'BalduApp/css/main.css' %}">
</head>
<body>
    <aside>
        {% include 'BalduApp/main_logo.html' %}

        <div class="user_profile_link">
            <a href="{% url 'profile' %}"><p>Переглянути профіль, {{ user.username }}</p></a>
        </div>

        <h2>Чати</h2>
        <div class="current_chats">
            <ul>
                {% if chat_users %}
                    {% for chat in chat_users %}
                        <li><a href="{% url 'chat_detail' chat_id=chat.chat_id %}">Чат з {{ chat.username }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>No chats available</li>
                {% endif %}
            </ul>
        </div>

        <h2>Почати новий чат</h2>
        <div class="new_chat">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="start_chat">Почати чат</button>
            </form>
        </div>
    </aside>

    <main>
        <h2>Recommendations</h2>
        {% if current_recommended_user %}
            {% if user.photo %}
                <div class="user_photo">
                    <img src="" alt="recommendation photo" class="recommendation_photo">
                </div>
            {% else %}
                <div class="user_photo">
                    <img src="{% static 'BalduApp/img/no_photo.jpg' %}" alt="no photo available" class="recommendation_photo">
                </div>
            {% endif %}

            <div class="user_info">
                <h1>{{ current_recommended_user.first_name }} {{ current_recommended_user.last_name }}, {{ current_recommended_user.age }}</h1>
                <p>Гендер: {{ current_recommended_user.get_gender_display }}</p>

                <h1>Про мене:</h1>
                <p>{{ current_recommended_user.interests }}</p>

                <h1>Особиста інформація:</h1>
                <p>Сімейний статус: {{ current_recommended_user.get_marital_status_display }}</p>
                <p>Оріентація: {{ current_recommended_user.orientation }}</p>
            </div>

            <form method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ current_recommended_user.id }}">
                <button type="submit" name="like">Like</button>
            </form>
            <form method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ current_recommended_user.id }}">
                <button type="submit" name="dislike">Dislike</button>
            </form>

        {% else %}
            <div class="user_photo">
                <img src="{% static 'BalduApp/img/no_photo.jpg' %}" alt="no photo available" class="recommendation_photo">
                <p>No more recommendations available.</p>
            </div>
        {% endif %}
    </main>
</body>
</html>
