<!-- templates/BalduApp/profile.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile of {{ user.username }}</h1>
    {% if user.profile_photo %}
    <img src="{{ user.profile_photo.url }}" alt="Profile photo">
    {% endif %}
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Age: {{ user.age }}</p>
    <p>Gender: {{ user.get_gender_display }}</p>
    <p>Marital Status: {{ user.get_marital_status_display }}</p>
    <p>Bio: {{ user.interests }}</p>
    <p>Orientation: {{ user.orientation }}</p>
    <h3>Edit Profile</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
    <a href="{% url 'main_page' %}"><button>Back to Main Page</button></a>
    <a href="{% url 'logout' %}"><button>Logout</button></a>

</body>
</html>
